<!DOCTYPE html>
<html style="direction: rtl">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div style="direction: rtl !important; font-size: 15px ; font-family: Yekan">
    <p>
        با سلام.
    </p>

    <p>
        برای ورود به صفحه ی تغییر رمز عبور بر روی لینک کلیک نمایید:
    </p>

    <div>
        https://meetia.ir/profile/rstpass/?token={{ token_obj.token }}
    </div>
    <p>
        در صورتی که شما این درخواست را ثبت نکرده بودید این ایمیل را نادیده بگیرید.
    </p>
    <p>
        با تشکر
    </p>
    <div>
        میتیا
    </div>
</div>
</body>
</html>