{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
<title>
میتیا | فراموشی رمز عبور
</title>
{% endblock %}
{% block page-content %}
    <div class="ui raised very padded text container segment">
        {% if success %}
            <div class="ui success message">
                {{ success }}
            </div>
        {% endif %}
    {% if fail %}
            <div class="ui negative message">
                {{ fail }}
            </div>
        {% endif %}

        <h2 class="ui header">
            فراموشی رمز عبور
        </h2>
        <p>
            پس از ثبت ایمیل، یک لینک برای شما ارسال خواهد شد که با استفاده از آن میتوانید اقدام به تغییر رمز عبورتان
            کنید.
        </p>

        <div class="ui large form">
            <form class="ui form segment" action="/passrecovery/" method="post">
                {% csrf_token %}
                <div class="field">
                    <label>
                        ایمیل شما
                    </label>
                    <input name="email" type="email">
                </div>
                <button class="ui blue submit button" type="submit">
                    فرستادن میل
                </button>

            </form>
        </div>
    </div>
{% endblock %}