{% extends "base.html" %}
{% load staticfiles %}
{% block page-content %}






    <div class="ui raised very padded text container segment">
        <h2 class="ui header">
            ویرایش حساب کاربری
        </h2>

        <div class="ui grid">
            <div class="four wide column">
                <div class="ui vertical fluid tabular menu">
                    <a class="item" href="/profile/edit/{{ user.id }}/">
                        اطلاعات شخصی
                    </a>
                    <a class="item" href="/profile/change-password/{{ user.id }}/">
تغییر رمز عبور
                    </a>
                    <a class="item" href="/profile/profile-picture/{{ user.id }}/">
                        عکس پروفایل
                    </a>
                    <a class="active item" href="/profile/user-groups/{{ user.id }}/">
                        گروه ها
                    </a>
                </div>
            </div>
            <div class="twelve wide stretched column">
                <div class="ui segment">
                    <div class="ui large form">
                        <h3>
                            گروه های من
                        </h3>
                        {% for user_groups in user.mberships.all %}
                            <a style="font-size: 1.3em" href="/groups/{{ user_groups.id }}/">{{ user_groups.group_name }}</a> /
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>


    </div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'jquery-2.1.3.min.js' %}"></script>
    <script src="{% static 'semantic.min.js' %}"></script>

    <script>
        $('#signupform')
                .form({
                    fields: {
                        name: {
                            identifier: 'first-name',
                            rules: [
                                {
                                    type: 'empty',
                                    prompt: 'لطفا نام خود را وارد کنید.'
                                }
                            ]
                        },
                        lastname: {
                            identifier: 'last-name',
                            rules: [
                                {
                                    type: 'empty',
                                    prompt: 'لطفا نام خانوادگی خود را وارد کنید.'
                                }
                            ]
                        },
                        email: {
                            identifier: 'email',
                            rules: [
                                {
                                    type: 'email',
                                    prompt: 'لطفا ایمیل وارد شده را تصحیح نمایید.'
                                }
                            ]
                        },
                        password: {
                            identifier: 'password',
                            rules: [
                                {
                                    type: 'empty',
                                    prompt: 'لطفا یک رمز عبور وارد نمایید.'
                                }
                            ]
                        },
                        new_password: {
                            identifier: 'new-password',
                            rules: [
                                {
                                    type: 'empty',
                                    prompt: 'لطفا رمز عبور جدید را وارد نمایید.'
                                }
                            ]
                        },
                        renew_password: {
                            identifier: 'renew-password',
                            rules: [
                                {
                                    type: 'empty',
                                    prompt: 'لطفا رمز عبور جدید را دوباره تکرار کنید.'
                                }
                            ]
                        },
                        terms: {
                            identifier: 'terms',
                            rules: [
                                {
                                    type: 'checked',
                                    prompt: 'لطفا قوانین و مقررات را قبول کنید!'
                                }
                            ]
                        }

                    }
                })
        ;
    </script>
{% endblock %}