{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
<title>
میتیا | تغییر رمز عبور
</title>
{% endblock %}
{% block page-content %}
    <div class="ui raised very padded text container segment">
        {% if invalid_link %}
<div class="ui negative message">
{{ invalid_link }}
    </div>
            {% endif %}
    {% if pass_changed_success %}
<div class="ui positive message">
{{ pass_changed_success }}
    </div>

            {% endif %}
         {% if token_invalid %}
            <div class="ui negative message">
                {{ token_invalid }}
            </div>
        {% endif %}
        <h2 class="ui header">
تعیین رمز عبور جدید
        </h2>
<p>
رمز عبور جدید خود را وارد کنید.
</p>
        <div class="ui large form">
            <form class="ui form segment" action="/profile/rstpass/?token={{ token }}" method="post" id="signupform">
                {% csrf_token %}
            <div class="field">
                <label>
رمز عبور
                </label>
                <input name="password" type="password">
            </div>
                <button class="ui blue submit button" type="submit">
ثبت رمز عبور
            </button>
 <div class="ui error message"></div>
            </form>
        </div>
    </div>
{% endblock %}
{% block scripts %}
 <script src="{% static 'jquery-2.1.3.min.js' %}"></script>
    <script src="{% static 'semantic.min.js' %}"></script>

    <script>
        $('#signupform')
                .form({
                    fields: {

                        password: {
                            identifier: 'password',
                            rules: [
                                {
                                    type: 'empty',
                                    prompt: 'لطفا یک رمز عبور وارد نمایید.'
                                }
                            ]
                        }
                        }

                    }
                )
        ;
    </script>
{% endblock %}