{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
<title>
میتیا | قوانین
</title>
{% endblock %}
{% block page-content %}

    <div class="ui text container">
<h1>
    قوانین و شرایط استفاده از میتیا:
</h1>
        </br>
<p style="font-size: 1.1em">

    "قانون" کلمه¬ی سنگینیه، منظور از این صفحه و متنی که جلوی شما قرار داره بیشتر ذکر کردن مواردیه که به ما کمک میکنن در مسیر رسیدن به هدفمون همسو باشیم. هدف ما در به وجود آوردن میتیا به طور خلاصه خلق فضایی برای مردم ایرانه که در اون بتونن به راحتی آدم¬های مشابه خودشون رو پیدا کنن و امیدواریم بتونیم از این طریق دلیلی باشیم بر شادی¬های کوچیک دل شما.
در این مسیر ما از شما یک سری خواسته داریم، که با برآورده کردنشون شما به ما این اجازه رو میدین که در این مسیر به کار خودمون ادامه بدیم.
این خواسته ها عبارت¬اند از:
</br></br>
1) این سایت تابع قوانین جمهوری اسلامی ایران هست و هر گونه استفاده¬های غیراخلاقی و غیراسلامی و مخالف قوانین جمهوری اسلامی از اون مورد برخورد قرار میگیره.
</br></br>
2) از درج مطالب سیاسی و یا ساخت گروه¬هایی که موجب ایجاد تنش¬های سیاسی در سایت میشن خواهشا پرهیز کنید.
</br></br>
3) ما نهایت تلاشمون رو میکنیم که اینجا رو به یک فضای امن و سالم تبدیل کنیم اما همیشه افراد سودجو در هر جامعه¬ای وجود خواهند داشت که از فرصت¬های موجود برای سوء استفاده¬ بهره ببرند، و میتیا فقط به عنوان یک نقش رابط و یک شبکه¬ی اجتماعی فعالیت میکنه و نمیتونه مسئولیتی در قبال اتفاقات احتمالی بپذیره، و مسئولیت این اتفاقات بر عهده¬ی کاربر گرامیست.
</br></br>
4) لطف بفرمایید از انتخاب نام¬های اهانت آمیز و خلاف قوانین پرهیز کنید، در صورت مشاهده ما مسئولیم که با این موارد برخورد کرده و در آنها با اقتضا تغییرات لازم را ایجاد کنیم.
</br></br>
5) گروه¬ها تماما توسط خود کاربران ساخته میشوند و تمامی رویدادهای موجود در آنها توسط خود اعضای گروه¬ها برنامه ریزی شده، و در این مورد هم ما متاسفانه نمیتونیم مسئولیتی قبول کنیم(البته شاید اگه برنامه¬ها جالب بودن ما هم بیایم!)
</br></br>
این لیست به مرور زمان و گسترده¬تر شدن جامعه¬ی میتیا بزرگتر میشه، به این امید که بتونیم خدمات ارائه شده به شما رو بهتر و کامل تر کنیم.




</p>
    </div>


{% endblock %}


