{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
<title>
میتیا | میتیا چیه؟
</title>
{% endblock %}
{% block page-content %}

    <div class="ui text container" xmlns="http://www.w3.org/1999/html">
<h1>
میتیا چیه؟
</h1>
        </br>
<p style="font-size: 1.1em">
میتیا به آدمایی که علایق مشترک دارن کمک میکنه که همدیگه رو پیدا کنن و گروه تشکیل بدن و به سادگی با همدیگه دیدار کنن و کارهای مورد علاقشون رو با هم انجام بدن.
</br></br>
هر آدمی به یک سری تفریحات، موضوعات و کارهای خاص علاقه منده و غالب مواقع خانواده و یا اطرافیانش نسبت به اون کار علاقه ی خاصی از خودشون نشون نمیدن، گشتن توی شبکه های اجتماعی و سعی در پیدا کردن آدم ها معمولا این مشکل رو حل نمیکنه.
میتیا محلیه برای همین کار! شما میتونید با ساختن گروه و یا عضویت در گروه هایی که علایق شما رو دارن به سادگی اینجور آدما رو بشناسین و با اونا دیدار کنید.

</br></br>
همیشه داشتن یه جمع دوست داشتنی از آدم هایی که هم فکر و همسوی ما هستن انگیزه ی بزرگی برای زندگیه. ما میخوایم به این روش سعی کنیم مردم رو بیشتر از همیشه به هم نزدیک کنیم و به شما کمک کنیم اونطوری که دوست دارید از زندگیتون لذت ببرید.




    </p>
    </div>


{% endblock %}


